; ============================================================================ ;
;
;            POWERLINE FOR POLYBAR - powerline-for-polybar.config
;
; ---------------------------------------------------------------------------- ;
;
; This file contains all the necessary stuff to build your own, Powerline-based,
; fancy Polybar setup.
;
; ---------------------------------------------------------------------------- ;
;
; All provided templates are documented in this file, with a description and
; the usage syntax.
;
; ============================================================================ ;

; ============================================================================
;
;                             :: STAND-ALONE MODULES ::
;
; ============================================================================ ;

; ============================================================================ ;
;                             modules :: left-to-right
; ============================================================================ ;
;
; # Left-to-right starting arrow
;
; Display a starting arrow at the beginning of a left-to-right line.
;
; NOTE: You may want to add customized content here. DON'T ! Use a regular,
;       left-to-right-item for this purpose. Background and foreground colors
;       are set on a per module basis.
;
; Usage:
;   [module/mystartingarrow]
;   inherit         = powerline-modules/left-to-right-starting-arrow
;   background      = #rrggbb
;   background-next = #rrggbb
;
; Mandatory settings:
;   background        Color of starting arrow. People often wants this to match
;                     the main theme color.
;   background-next   Background color of first item in line.
;
[powerline-modules/left-to-right-starting-arrow]
type               = custom/text
content-background = ${self.background-next}
content-foreground = ${self.background}
content            = ""

;
; # Left-to-right end-of-line separator
;
; Display a final arrow to nicely end your line with separators.
;
; Usage:
;   [module/myendingarrow]
;   inherit    = powerline-modules/left-to-right-end-of-line-separator
;   separator  = #rrggbb
;
; Mandatory settings:
;   separator     Color of line item separator.
;
[powerline-modules/left-to-right-end-of-line-separator]
type               = custom/text
content-foreground = ${self.separator}
content            = ""

; ============================================================================ ;
;                             modules :: right-to-left
; ============================================================================ ;

;
; # Right-to-left starting arrow
;
; Display a starting arrow at the beginning of a right-to-left line.
;
; NOTE: You may want to add customized content here. DON'T ! Use a regular,
;       right-to-left-item for this purpose. Background and foreground colors
;       are set on a per module basis.
;
; Usage:
;   [module/mystartingarrow]
;   inherit         = powerline-modules/right-to-left-starting-arrow
;   background      = #rrggbb
;   background-next = #rrggbb
;
; Mandatory settings:
;   background        Color of starting arrow. People often wants this to match
;                     the main theme color.
;   background-next   Background color of first item in line.
;
[powerline-modules/right-to-left-starting-arrow]
type               = custom/text
content-background = ${self.background-next}
content-foreground = ${self.background}
content            = ""

;
; # Right-to-left end-of-line separator
;
; Display a final arrow to nicely end your line with separators.
;
; Usage:
;   [module/myendingarrow]
;   inherit    = powerline-modules/right-to-left-end-of-line-separator
;   separator  = #rrggbb
;
; Mandatory settings:
;   separator     Color of line item separator.
;
[powerline-modules/right-to-left-end-of-line-separator]
type               = custom/text
content-foreground = ${self.separator}
content            = ""

; ============================================================================ ;
;
;                              :: MODULES TEMPLATES ::
;
; ============================================================================ ;

; ============================================================================ ;
;                             templates :: left-to-right
; ============================================================================ ;

;
; # Left-to-right in-line item
;
; Display a left-to-right, in-line item.
;
; Usage:
;   [module/mymodule]
;   inherit         = powerline-templates/left-to-right-item
;   background      = #rrggbb
;   background-next = #rrggbb
;   (...)
;
; Mandatory settings:
;   background        Background color of current item
;   background-next   Background color of next item in line. Should be set on
;                     ${root.background} if current item is last in line.
;
[powerline-templates/left-to-right-item]
format-suffix-foreground              = ${self.background}
format-suffix-background              = ${self.background-next}
format-suffix                         = ""
format-volume-suffix-foreground       = ${self.background}
format-volume-suffix-background       = ${self.background-next}
format-volume-suffix                  = ""
format-muted-suffix-foreground        = ${self.background}
format-muted-suffix-background        = ${self.background-next}
format-muted-suffix                   = ""
format-mounted-suffix-foreground      = ${self.background}
format-mounted-suffix-background      = ${self.background-next}
format-mounted-suffix                 = ""
format-unmounted-suffix-foreground    = ${self.background}
format-unmounted-suffix-background    = ${self.background-next}
format-unmounted-suffix               = ""
format-connected-suffix-foreground    = ${self.background}
format-connected-suffix-background    = ${self.background-next}
format-connected-suffix               = ""
format-disconnected-suffix-foreground = ${self.background}
format-disconnected-suffix-background = ${self.background-next}
format-disconnected-suffix            = ""
content-suffix-foreground             = ${self.background}
content-suffix-background             = ${self.background-next}
content-suffix                        = ""

;
; # Left-to-right in-line item with separator
;
; Display a left-to-right, in-line item with separator.
;
; Usage:
;   [module/mymodule]
;   inherit    = powerline-templates/left-to-right-item-with-separator
;   background = #rrggbb
;   separator  = #rrggbb
;   (...)
;
; Mandatory settings:
;   background    Background color of current item
;   separator     Color of line item separator.
;
[powerline-templates/left-to-right-item-with-separator]
; Prefixes
format-prefix-foreground              = ${self.separator}
format-prefix-background              = ${self.background}
format-prefix                         = ""
format-volume-prefix-foreground       = ${self.separator}
format-volume-prefix-background       = ${self.background}
format-volume-prefix                  = ""
format-muted-prefix-foreground        = ${self.background}
format-muted-prefix-background        = ${self.separator}
format-muted-prefix                   = ""
format-mounted-prefix-foreground      = ${self.separator}
format-mounted-prefix-background      = ${self.background}
format-mounted-prefix                 = ""
format-unmounted-prefix-foreground    = ${self.separator}
format-unmounted-prefix-background    = ${self.background}
format-unmounted-prefix               = ""
format-connected-prefix-foreground    = ${self.separator}
format-connected-prefix-background    = ${self.background}
format-connected-prefix               = ""
format-disconnected-prefix-foreground = ${self.separator}
format-disconnected-prefix-background = ${self.background}
format-disconnected-prefix            = ""
content-prefix-foreground             = ${self.separator}
content-prefix-background             = ${self.background}
content-prefix                        = ""
; Suffixes
format-suffix-foreground              = ${self.background}
format-suffix-background              = ${self.separator}
format-suffix                         = ""
format-volume-suffix-foreground       = ${self.background}
format-volume-suffix-background       = ${self.separator}
format-volume-suffix                  = ""
format-muted-suffix-foreground        = ${self.separator}
format-muted-suffix-background        = ${self.background}
format-muted-suffix                   = ""
format-mounted-suffix-foreground      = ${self.background}
format-mounted-suffix-background      = ${self.separator}
format-mounted-suffix                 = ""
format-unmounted-suffix-foreground    = ${self.background}
format-unmounted-suffix-background    = ${self.separator}
format-unmounted-suffix               = ""
format-connected-suffix-foreground    = ${self.background}
format-connected-suffix-background    = ${self.separator}
format-connected-suffix               = ""
format-disconnected-suffix-foreground = ${self.background}
format-disconnected-suffix-background = ${self.separator}
format-disconnected-suffix            = ""
content-suffix-foreground             = ${self.background}
content-suffix-background             = ${self.separator}
content-suffix                        = ""

;
; # Left-to-right line-starting item with separator
;
; Display a left-to-right, *line starting* item with separator.
;
; NOTE: This template shall only be inherited by the leftmost item of a
;       left-to-right line with separators. It avoids the appearance
;       of a separating arrow half at the leftmost part of the item.
;
; Usage:
;   [module/mystartingmodule]
;   inherit    = powerline-templates/left-to-right-starting-item-with-separator
;   background = #rrggbb
;   separator  = #rrggbb
;   (...)
;
; Mandatory settings:
;   background    Background color of current item
;   separator     Color of line item separator.
;
[powerline-templates/left-to-right-starting-item-with-separator]
; Suffixes needed only
format-suffix-foreground              = ${self.background}
format-suffix-background              = ${self.separator}
format-suffix                         = ""
format-volume-suffix-foreground       = ${self.background}
format-volume-suffix-background       = ${self.separator}
format-volume-suffix                  = ""
format-muted-suffix-foreground        = ${self.separator}
format-muted-suffix-background        = ${self.background}
format-muted-suffix                   = ""
format-mounted-suffix-foreground      = ${self.background}
format-mounted-suffix-background      = ${self.separator}
format-mounted-suffix                 = ""
format-unmounted-suffix-foreground    = ${self.background}
format-unmounted-suffix-background    = ${self.separator}
format-unmounted-suffix               = ""
format-connected-suffix-foreground    = ${self.background}
format-connected-suffix-background    = ${self.separator}
format-connected-suffix               = ""
format-disconnected-suffix-foreground = ${self.background}
format-disconnected-suffix-background = ${self.separator}
format-disconnected-suffix            = ""
content-suffix-foreground             = ${self.background}
content-suffix-background             = ${self.separator}
content-suffix                        = ""

; ============================================================================ ;
;                             templates :: right-to-left
; ============================================================================ ;

;
; # Right-to-left in-line item
;
; Display a right-to-left, in-line item.
;
; Usage:
;   [module/mymodule]
;   inherit         = powerline-templates/right-to-left-item
;   background      = #rrggbb
;   background-next = #rrggbb
;   (...)
;
; Mandatory settings:
;   background        Background color of current item
;   background-next   Background color of next item in line. Should be set on
;                     ${root.background} if current item is last in line.
;
[powerline-templates/right-to-left-item]
format-prefix-foreground              = ${self.background}
format-prefix-background              = ${self.background-next}
format-prefix                         = ""
format-volume-prefix-foreground       = ${self.background}
format-volume-prefix-background       = ${self.background-next}
format-volume-prefix                  = ""
format-muted-prefix-foreground        = ${self.background}
format-muted-prefix-background        = ${self.background-next}
format-muted-prefix                   = ""
format-mounted-prefix-foreground      = ${self.background}
format-mounted-prefix-background      = ${self.background-next}
format-mounted-prefix                 = ""
format-unmounted-prefix-foreground    = ${self.background}
format-unmounted-prefix-background    = ${self.background-next}
format-unmounted-prefix               = ""
format-connected-prefix-foreground    = ${self.background}
format-connected-prefix-background    = ${self.background-next}
format-connected-prefix               = ""
format-disconnected-prefix-foreground = ${self.background}
format-disconnected-prefix-background = ${self.background-next}
format-disconnected-prefix            = ""
content-prefix-foreground             = ${self.background}
content-prefix-background             = ${self.background-next}
content-prefix                        = ""

;
; # Right-to-left in-line item with separator
;
; Display a right-to-left, in-line item with separator.
;
; Usage:
;   [module/mymodule]
;   inherit    = powerline-templates/right-to-left-item-with-separator
;   background = #rrggbb
;   separator  = #rrggbb
;   (...)
;
; Mandatory settings:
;   background    Background color of current item
;   separator     Color of line item separator.
;
[powerline-templates/right-to-left-item-with-separator]
; Prefixes
format-prefix-foreground              = ${self.background}
format-prefix-background              = ${self.separator}
format-prefix                         = ""
format-volume-prefix-foreground       = ${self.background}
format-volume-prefix-background       = ${self.separator}
format-volume-prefix                  = ""
format-muted-prefix-foreground        = ${self.separator}
format-muted-prefix-background        = ${self.background}
format-muted-prefix                   = ""
format-mounted-prefix-foreground      = ${self.background}
format-mounted-prefix-background      = ${self.separator}
format-mounted-prefix                 = ""
format-unmounted-prefix-foreground    = ${self.background}
format-unmounted-prefix-background    = ${self.separator}
format-unmounted-prefix               = ""
format-connected-prefix-foreground    = ${self.background}
format-connected-prefix-background    = ${self.separator}
format-connected-prefix               = ""
format-disconnected-prefix-foreground = ${self.background}
format-disconnected-prefix-background = ${self.separator}
format-disconnected-prefix            = ""
content-prefix-foreground             = ${self.background}
content-prefix-background             = ${self.separator}
content-prefix                        = ""
; Suffixes
format-suffix-foreground              = ${self.separator}
format-suffix-background              = ${self.background}
format-suffix                         = ""
format-volume-suffix-foreground       = ${self.separator}
format-volume-suffix-background       = ${self.background}
format-volume-suffix                  = ""
format-muted-suffix-foreground        = ${self.background}
format-muted-suffix-background        = ${self.separator}
format-muted-suffix                   = ""
format-mounted-suffix-foreground      = ${self.separator}
format-mounted-suffix-background      = ${self.background}
format-mounted-suffix                 = ""
format-unmounted-suffix-foreground    = ${self.separator}
format-unmounted-suffix-background    = ${self.background}
format-unmounted-suffix               = ""
format-connected-suffix-foreground    = ${self.separator}
format-connected-suffix-background    = ${self.background}
format-connected-suffix               = ""
format-disconnected-suffix-foreground = ${self.separator}
format-disconnected-suffix-background = ${self.background}
format-disconnected-suffix            = ""
content-suffix-foreground             = ${self.separator}
content-suffix-background             = ${self.background}
content-suffix                        = ""

;
; # Right-to-left line-starting item with separator
;
; Display a right-to-left, *line starting* item with separator.
;
; NOTE: This template shall only be inherited by the rightmost item of a
;       right-to-left line with separators. It avoids the appearance
;       of a separating arrow half at the rightmost part of the item.
;
; Usage:
;   [module/mystartingmodule]
;   inherit    = powerline-templates/right-to-left-starting-item-with-separator
;   background = #rrggbb
;   separator  = #rrggbb
;   (...)
;
; Mandatory settings:
;   background    Background color of current item
;   separator     Color of line item separator.
;
[powerline-templates/right-to-left-starting-item-with-separator]
; Prefixes needed only
format-prefix-foreground              = ${self.background}
format-prefix-background              = ${self.separator}
format-prefix                         = ""
format-volume-prefix-foreground       = ${self.background}
format-volume-prefix-background       = ${self.separator}
format-volume-prefix                  = ""
format-muted-prefix-foreground        = ${self.separator}
format-muted-prefix-background        = ${self.background}
format-muted-prefix                   = ""
format-mounted-prefix-foreground      = ${self.background}
format-mounted-prefix-background      = ${self.separator}
format-mounted-prefix                 = ""
format-unmounted-prefix-foreground    = ${self.background}
format-unmounted-prefix-background    = ${self.separator}
format-unmounted-prefix               = ""
format-connected-prefix-foreground    = ${self.background}
format-connected-prefix-background    = ${self.separator}
format-connected-prefix               = ""
format-disconnected-prefix-foreground = ${self.background}
format-disconnected-prefix-background = ${self.separator}
format-disconnected-prefix            = ""
content-prefix-foreground             = ${self.background}
content-prefix-background             = ${self.separator}
content-prefix                        = ""
